body
{
 background-color:#FFFFFF;
 background-position:center;
 background:linear-gradient(rgba(0,0,0,0.6)), url("LAIN wallpaper.jpg");
}

h1,h2,h3
{
 font-family: Courier, Arial;
 font-size: 20px;
 text-align:center;
 color:white;
 
}

h4
{
 font-family: Courier, Arial;
 text-align:center;
  color:white;
 
}

p
{
 font-family: Courier, Arial;
 font-size: 18px;
 text-align:center;	
  color:white;
}

br
{
font-size: 20px;
font-family:Courier, Arial;
}

section
{
  background-color:#FFFFFF;
  font-family: Courier, Arial;
  padding:8px;
  background:transparent;
  
}

footer
{
background-color:#0050AA;
  font-family: Courier, Arial; 
  padding:8px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-weight:bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

nav
{
background-color:#0050AA;
color:#FFFFFF;
font-family: Courier, Arial;
font-weight:bold;

}

nav ul
{
height:auto;
margin:0px;
padding:10px;
text-align:center;	
}


nav li
{
display:inline;
padding:0px;
margin:0px;	
}

nav a
{
text-decoration:none;
color:#FFFFFF;
padding:8px 5px;
display:inline;	
}

nav a:hover
{
background-color:#FFFFFF;
color:#000055;	
}

header
{
background-color:#0050AA;
color:#FFFFFF;
}

@media all and (min-width:960px)
{
body
{
width: 960px;
margin:auto;	
}
}

@media all and (max-width:640px)
{
nav
{
height:100%;	

nav li
{
display:block;
padding:10px;
margin:0px;	
}
}
}